.cta-container .cta-wrapper {
    max-width: unset;
    padding: 0;
  }
  
  .cta {
    position: relative;
    padding: 40px 24px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }