.cta-container .cta-wrapper {
    max-width: unset;
    padding: 0;
  }
  
  .cta {
    position: relative;
    padding: 40px 24px;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cta-block .cta-text, .cta-block .cta-button {
    text-align: center;
  }
  .cta-block .cta-text {
    margin-top: -300px;

  }
  .cta-block .cta-button {
    margin-bottom: 300px;
  }
  .cta-block .cta-button:after {
    content: '';
  }